$text-primary: #213F7D;
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;
$btn-primary: #39CDCC;
$color-primary: #39CDCC;
$color-danger: #E4033B;
$color-danger: #E4033B;
$sidenav-text: #213F7D;

