.container{
    padding-top: 65px;
    padding-left: 139px !important;
    padding-right: 60px;
    
}
.back-btn{
    display: flex;
    flex-direction: row;
    grid-gap: 5px;
    background: transparent;
    border: none;
}
.back{
    text-decoration: none;
    color: $text-primary;
    font-weight: 400;
    font-size : 16px;
    position: relative;
    bottom: 3px;
}
.user-details-header-container{
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    grid-gap: 400px;
    justify-content: space-between;
    padding-bottom: 40px;
   
   
}
.user-details-header-text{
    color: $text-primary;
    font-size: 24px;
    font-size: 500;
    line-height: 28px;

}
.action-btns{
    display: flex;
    grid-gap: 15px;
    flex-direction: row;
}
.blacklist-user{
    font-weight: 600;
    font-size:14px;
    line-height: 16px;
    color: $color-danger;
    height: 40px;
    width: 170px;
    border-radius: 8px;
    border: 1px solid $color-danger;
    background: transparent;
}
.active-user{
    font-weight: 600;
    font-size:14px;
    line-height: 16px;
    height: 40px;
    width: 170px;
    border-radius: 8px;
    color: $btn-primary;
    border: 1px solid $btn-primary;
    background: transparent;

}
.user-details-tab-container{
    background: #FFFFFF;
    padding-left:30px;
    padding-top: 30px;
    padding-bottom: 50px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.user-details-sub-container{
    display: flex;
    flex-direction: row;
    
}
.profile-container{
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
}
.name-container{
    padding-top: 20px;
}
.fullname{
    color: $text-primary;
    font-weight: 500;
    font-size:22px;
    line-height:25px;
}
.code{
    color: #545F7D !important;
    font-size:14px !important;
    font-weight: 500 !important;
    line-height: 14px !important;
}
.ratings-container{
    padding-top: 25px;


}
.ratings{
    font-size: 14px;
    font-weight: 500;
    line-height:16px;
    color: $text-primary;
}
.amount-container{
    padding-top: 15px;
}
.amount{
    color: $text-primary;
    font-size:22px;
    font-weight: 500;

}
.bank-details{
    color: $text-primary;
    font-size:12px;
    font-weight: 400;
}
.user-tabs{
    position: relative;
    bottom: 47px;
    padding-left: 40px;
    
}
.ant-tabs-tab-btn{
   
    font-weight: 400;
    font-size: 16px;
    margin-right: 35px;

}

.ant-tabs-ink-bar {
    height: 5px;
    background:  $btn-primary !important;
  }
.info-header{
    color: $text-primary;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

}
.personal-info-container{
    padding-top: 15px;

}


.details-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

.head{
    padding-bottom: 20px;
}
.sub-head{
    font-weight: 400;
    font-size: 14px;
    color: $text-primary;
    line-height: 10px;

}
.sub-head-details{
    font-weight: 500;
    font-size: 16px;
    line-height: 3px;
    color: $text-primary;
}